.photo {
        margin-left: 10px;
        float: left;
        margin-right: 70px;
        margin-top: 10px;
       }

 .text {
        font-size: 33px;
        margin-top: 60px;
        margin-right: 20px;
       }